header.m-header
  .inner
    .m-header__top
      if pageID === 'homepage'
        h1.m-header__logo
          a(href="/")
            img(src=path+"assets/images/logo.svg", alt="EuroStrone", width="280", height="62")
      else 
        .m-header__logo
          a(href="/")
            img(src=path+"assets/images/logo.svg", alt="EuroStrone", width="280", height="62")
      .m-header__boxright
        .m-header__search
          input(type="text", placeholder="tìm kiếm")
          i
        .m-header__phone
          a(href="tel:0903930126") 0903 930 126
        .m-header__mail 
          a(href="mailto:info@eurostone.vn") info@eurostone.vn
    .m-header__bottom
      .m-header__bottom-menu
        ul
          li
            a(href="#") Giới thiệu
          li
            a(href="#") Màu Sắc
          li
            a(href="#") Giới thiệu
          li
            a(href="#") Brands
          li
            span Hạng Mục Ốp Đá
            .m-header__subMenu
              ul.m-header__subMenu-01.menuSlider
                li.item
                  a(href="#")
                    figure
                      img(src=path+"assets/images/menu_img01.jpg", alt="Phòng bếp")
                      figcaption Phòng bếp
                li.item
                  a(href="#")
                    figure
                      img(src=path+"assets/images/menu_img02.jpg", alt="Phòng bếp")
                      figcaption Phòng bếp
                li.item
                  a(href="#")
                    figure
                      img(src=path+"assets/images/menu_img03.jpg", alt="Phòng bếp")
                      figcaption Phòng bếp
                li.item
                  a(href="#")
                    figure
                      img(src=path+"assets/images/menu_img04.jpg", alt="Phòng bếp")
                      figcaption Phòng bếp
          li
            span Giả Lập Không Gian
            .m-header__subMenu
              ul.m-header__subMenu-02
                li
                  a(href="#")
                    figure
                      img(src=path+"assets/images/menu_img05.jpg", alt="Hình dung trực tuyến")
                      figcaption Hình dung trực tuyến
                li
                  a(href="#")
                    figure
                      img(src=path+"assets/images/menu_img06.jpg", alt="Nhà bếp 3D")
                      figcaption Nhà bếp 3D
                li
                  a(href="#")
                    figure
                      img(src=path+"assets/images/menu_img07.jpg", alt="Bảng thiết kế")
                      figcaption Bảng thiết kế

          li
            span Tin Tức
            .m-header__subMenu
              ul.m-header__subMenu-02
                li
                  a(href="#")
                    figure
                      img(src=path+"assets/images/menu_img08.jpg", alt="Hình dung trực tuyến")
                      figcaption Hình dung trực tuyến
                li
                  a(href="#")
                    figure
                      img(src=path+"assets/images/menu_img09.jpg", alt="Nhà bếp 3D")
                      figcaption Nhà bếp 3D
                li
                  a(href="#")
                    figure
                      img(src=path+"assets/images/menu_img10.jpg", alt="Bảng thiết kế")
                      figcaption Bảng thiết kế
                li
                  a(href="#")
                    figure
                      img(src=path+"assets/images/menu_img11.jpg", alt="Bảng thiết kế")
                      figcaption Bảng thiết kế
          li
            a(href="#") Cosentino City
          li
            a(href="#") Professionals